*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IM Fell French Canon SC', serif;
}
a{
    text-decoration: none;
}
p{
    font-family: 'IM Fell French Canon', serif;
}
/* Header */
.header{
    position: relative;
    height: 100vh;
    background-image: url('../images/pexels-rdne-stock-project-4920856.jpg');
    background-size: cover;
    background-position: center;
  }

.header__image--sm{
   /* visibility: hidden;  */
   display: none; 
}

.hero_brandname{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #0b0b0b;
    border-radius:30px; float:center; width: 310px;background-color: rgba(36, 35, 35, 0.376); padding:10px; 
}

.hero__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 3%;
    top: -15px;
}

.menu{
    border-radius:30px; float:center; width: 450px; background-color: rgba(36, 35, 35, 0.376); padding:10px; 
}

.hero__nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

.hero__nav ul li a{
  color: white;
  text-decoration: underline;
  font-size: 18px;
}

.header__heading{
   position: absolute;
    top:75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius:30px; float:center; width:45%;background-color: rgba(36, 35, 35, 0.376); padding:10px; 
}

.header__heading--h1{
    font-size: 70px;
    margin-top: 10px;
    color: #D79B7A;
    text-shadow: 2px 2px 5px #242323;
}

.header__heading--h2{
    font-size: 20px;
    color: #F9F9FF;
    text-shadow: 2px 2px 5px #242323
}


  /* About */
.about{
    height: 80vh;
    background-color: #D79B7A;
    color: #fff;
    background-image: url('../images/pexels-marina-m-8356208.jpg');
    background-size: cover;
    background-position: center;
}

.about__heading{
    width: 50%;
    text-align: center;
    margin: auto;
}

.about__heading--h2{
    font-size: 60px;
    padding-top: 6rem;
}

.about__heading--p{
    text-align: center;
}


/* Portfolio */
.portfolio{
    /* height: 180vh; 1024 x 728 */
    height: 200vh;
    padding: 50px;
    text-align: center;
    color: #362D2D;
    background-image: url('../images/coffee-lukas-pixabay.jpg');
    background-size: cover;
    background-position: center;
}

.portfolio__heading--h2{
 font-size: 60px;
 margin-top: 1%;
}


.portfolio__container{
    display: grid;
    /*two dimensional*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 40px;
    /* NOTE TO SELF:  grid-gap: 30px; good for 1024 x 768 screen size*/
    padding: 5%; 
    margin-top: 50px;
}


.portfolio__img img{
    object-fit: cover;
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 10px;

}

.portfolio__btn{
  background-color: #45893A;
  color: #fff;
  height: 75px;
  width: 303px;
  padding: 2% 5%;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 2px;
}
/* Contact */

.contact{
    height: 100vh;
    color: #5E290C;
    background-color:#3E3C3C;
    padding: 5%;
    background-image: url('../images/Image-by-Dirk-Wouters-from-Pixabay.jpg');
    background-size: cover;
    background-position: center;
}

.contact__row{
  display: flex;
  flex-direction: row;
}

.contact__row--left{
    /* background-color: green;   */
    flex-basis: 40%;
    margin-top: 210px;
    transform: rotate(-13deg);
}

.contact__heading--h2{
    font-size: 60px;
}

.contact__row--left p{
 margin-top: 10px;
}

.contact__left--icons{
    margin-top: 15px;
}

.contact__row--left p i{
    color: #20E700;
}

.contact__left--icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: none;
    /* display: inline-block; */
}

.contact__btn{
    display: block;
    margin: 30px auto;
    border: 1px solid #fff;
    background-color: #5e290c;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    width: fit-content;
}

.contact__btn:hover{
    background-color: #cecece;
    border: 1px solid #5e290c;
    color: #5e290c;
}

.contact__btn.contact__btn--1{
    display:inline-block;
}

.contact__row--right{
    background-color: none;
}

form input {
    width: 70%;
}

/* Footer */

footer{
    height: 4vh;
    text-align: center;
    text-decoration: solid;
    color: #5E290C;
    background-color: #d0a28a;

}

/* MEDIA QUERY THAT MARK SAID HAS NOTHING TO DO WITH IT BUT IT DOES */
@media only screen and (max-width:600px) {

.header{
background-image: url('../images/pexels-rdne-stock-project-4920852.jpg');
}
.header__image--sm{
    display: block;
}

.header__image--sm img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
} 

.header__heading{
    width: 320px;;
 }

 .portfolio{
    background-image: url('../images/coffee-lukas-pixabay.jpg');
    background-size: cover;
    background-position: left;
}

.portfolio__heading--h2{
color: #F9F9FF;
text-shadow: 2px 2px 5px #0b0b0b;
}

.portfolio__img img{
    object-fit: cover;
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 10px;

}

}
